.ta-editor {
  /* min-height: 300px; */
  height: 300px;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.button-class {
  margin-left: 757px;
  margin-top: -26px;
}

.btn_save {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 3px 20px;
  border: 1px solid #1d55ad;
  display: inline-block;
  margin: 5px;
}

.btn_cancel {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 3px 20px;
  border: 1px solid #e9703e;
  display: inline-block;
  margin: 5px;
}

.btn_preview {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 3px 20px;
  border: 1px solid #e9703e;
  display: inline-block;
  margin: 5px;
}

.save_btn_cell {
  border-radius: 3px;
  bgcolor: #e9703e;
}